/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2018, 01:56:03 PM
    Author     : 4-01
*/
.navbar{
    background: linear-gradient(#FF5722, #757575);
   
}
.style-footer{
   
    text-align: center;
}
.registro{
     text-align: center;
     box-shadow:5px 5px #BDBDBD;
   
     
}
.btn-enviar{
    background: #FF5722;
}


